<div class="jumbotron">
    <div class="container">
    <center>
      <h1><%= t('home_Title') %> </h1>
        <% if current_user %>
         <%= link_to(t('link_text.create_checkup', :checkup_new => @checkup_new), new_checkup_path, class: 'btn btn-lg btn-success') %>
         <%= link_to(t('link_text.profile', :profile => @profile), my_portfolio_path, class: 'btn btn-lg btn-success') %>
         <% else %>
         <%= link_to(t('link_text.sign_up', :sign_up => @sign_up), new_user_registration_path , class: 'btn btn-lg btn-success')%>
       <% end %>
    </center>
    </div>
</div>
