/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */


body {
  direction: rtl;
}

.formContianer{
  direction: rtl;
}

/* #firstName {
  float: right;
} */

#firstName {
  float: right;
}

#middleName {
  float: right;
}

#sexField {
  float: right;
}

#ageField {
  float: right;
}

#marriedField {
  float: right;
}

#childField {
  float: right;
}

#weightBeforeField {
  float: right;
}

#height {
  float: right;
}

#classOfBodyMass {
  float: right;
}

#perfectWeight {
  float: right;
}

#typeOfSur {
  float: right;
}

#assDiseases{
  float: right;
}

#changeInDiseases {
  float: right;
}

#bloodPressureBefore {
  float: right;
}

#diabetesBefore{
  float: right;
}

#arthritisBefore {
  float: right;
}

#sleepApneaBefore {
  float: right;
}
#asthmaBefore {
  float: right;
}

#thyroidDisorders{
  float: right;
}

#increaseInBody {
  float: right;
}

#psychologicalDisorders{
  float: right;
}

#lackOfFertility {
  float: right;
}

#varicoseInferior{
  float: right;
}

#incontinenceBefore {
  float: right;
}

#menstruationBefore {
  float: right;
}

#polycysticOvaries {
  float: right;
}

#smokingBefore {
  float: right;
}

#useOfVitamins {
  float: right;
}

#forgetfulness {
  float: right;
}

#skin {
  float: right;
}

#nail {
  float: right;
}
#sagging {
  float: right;
}

#cosmetic_surgery {
  float: right;
}

#disturbancesBefore {
  float: right;
}

.navbar .navbar-default {
  float: right;
}

.navbar-brand {
  float: right;
}


.navbar-collapse {
  float: right;
}

.commentTextarea {
  resize: none;
}

#commentTable {
  float: right;
}

#login {
    padding-top: 50px
}

#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}

#login h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

#login .form-group {
    margin-bottom: 25px;
}

#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}

.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #1fa67b;
  text-align: center;
  /* width: 100% */
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

.logout-nav {
  float: right;
  font-size: 20px;
  color: #777;
}

/* .button- {
  background-color: 'red'
} */
